/**black_table  CSS  start*/
.etable {border-collapse: collapse;width:auto;text-align:center;margin:0 auto;margin-top:3px;}
.etable tr th {width:100px;background-color:#000;color:white;border:1px solid #969696;cursor: default;font-weight: normal;font: 9pt Verdana, Arial,sans-serif;text-decoration: none;text-align:center;height: 25px;white-space:nowrap;}
.etable tr th[class=index] {width:35px;}
.etable tr th[class=checkbox] {width:35px;}
.etable tr th[class=radio] {width:35px;}
.etable tr td {width-min:35px;border:1px solid #969696;cursor: default;}
.etable tr th span {color:red;}
.etable tr td img {cursor: pointer;}
.etable input[type=text] {width:95%;cursor: pointer;border:0;border-bottom:1px solid #969696;text-align: center;}
.etable input[type=radio] {cursor: pointer;}
.etable input[type=checkbox] {cursor: pointer;}
/*.etable tr{background-color:#CCC;}*/
/*.etable tr:nth-child(2n){background-color:#fff;}*/
.activetr {background-color:#CCC}
.etable tr:hover{color:#fff;background-color:#777;}
.etable caption{background-color: #000;color:white;text-align:left;line-height:1.2;font-size: 12px;margin-bottom:20px;margin-top:20px;padding-left: 13px;}
/**black_table  CSS  end*/

.EditTable { margin:30px 0px 0px 30px;}
    .EditTable tr td {height:25px; line-height:25px;    }
    .EditTable input[type=text] {width:95%;cursor: pointer;border:0;border-bottom:1px solid #969696;}
    .EditTable input[type=radio] {cursor: pointer;}
    .EditTable input[type=checkbox] {cursor: pointer;}