<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!--NERP正式版-->
    <add key="ServericeEmailConnectionString" value="server=172.16.96.18;uid=erp;pwd=evn.123456789;database=EVNERP;" />
    
    <!--NERP测试版 NERP_TEST
    <add key="ServericeEmailConnectionString" value="server=172.16.96.56;uid=erp;pwd=erp.123;database=NERP_TEST;" />
-->
    
  </appSettings>
</configuration>